---
layout: default
permalink: /calendar2
---

<h1 class="title">Calendar</h1>

<table class="table is-narrow is-fullwidth has-text-centered">
  <thead>
    <tr>
      <th colspan="3">Date</th>
      <th>
        <span class="icon">
          <span class="mdi mdi-24px mdi-weather-sunset-up"></span>
        </span>
      </th>
      <th>
        <span class="icon">
          <span class="mdi mdi-24px mdi-weather-sunset-down"></span>
        </span>
      </th>
    </tr>
  </thead>
  {% for date in site.data.dates %}
  {% assign dayNum = date.date | date: "%w" %}
  <tr class="{% if date.date == site.data.globals.currentDate %}is-selected{% elsif dayNum == '0' or dayNum == '6' %}has-background-light{% endif %}">

    <td>
      {{ date.date | date: "%a" | slice: 0 }}
    </td>

    <td>
      {{ date.date | date: "%e %b" }}
    </td>

    <td>
      {% for event in site.data.events %}
      {% if date.date >= event.startDate and event.endDate >= date.date %}
      <span class="is-size-7 has-text-grey">
        {{ event.shortName }}
      </span>
      {% endif %}
      {% endfor %}
    </td>

    {% for sun in site.data.sun %}
    {% if date.date == sun.date %}
    <td>
      {{ sun.sunrise }}
    </td>

    <td>
      {{ sun.sunset }}
    </td>
    {% endif %}
    {% endfor %}

    {% endfor %}
  </tr>
</table>