---
layout: default
permalink: /calendar/
---

<h1 class="title">Calendar</h1>

<table class="table has-text-centered is-narrow is-fullwidth is-bordered">
  <thead>
    <tr>
      <th>Mon</th>
      <th>Tue</th>
      <th>Wed</th>
      <th>Thu</th>
      <th>Fri</th>
      <th>Sat</th>
      <th>Sun</th>
    </tr>
  </thead>
  {% assign index = 0 %}
  <tr>
    {% for date in site.data.dates %}
    {% assign x = index | modulo: 7 %}
    {% if x == 0 %}
  </tr>
  <tr>
    {% endif %}

    {% assign month_mod_2 = date.date | date: "%m" | plus: 0 | modulo: 2 %}

    {% if date.date == site.data.globals.currentDate %}
    <td class="is-selected">
      {% elsif month_mod_2 == 0 %}
    <td class="has-background-light">
      {% else %}
    <td>
      {% endif %}

      <a href="/dates/{{date.date}}">
        {% assign day = date.date | date: "%e" | plus: 0 %}
        {{ date.date | date: "%d" }}
        {% if date.date == site.data.globals.startDate or day == 1 %}
        <br />
        {{ date.date | date: "%b" }}
        {% endif %}
      </a>

      {% for event in site.data.events %}
      {% if date.date >= event.startDate and event.endDate >= date.date %}
      <p class="is-size-7 has-text-grey">
        {{ event.shortName }}
      </p>
      {% endif %}
      {% endfor %}
      
    </td>

    {% assign index = index | plus: 1 %}
    {% endfor %}
  </tr>
</table>