---
layout: default
---

<h1 class="title">Locations</h1>

<table class="table is-fullwidth is-narrow">

  {% for locationGroup in site.data.locationGroups %}
  <tr>
    <th colspan="3">{{ locationGroup.name }}</th>
  </tr>

  {% for location in locationGroup.locations %}

  <tr>
    <td>{{ location.name }}</td>
    <td>
      <a href="{{ location.googleUrl }}" class="button is-primary is-outlined">
        <span class="icon">
          <span class="mdi mdi-google-maps mdi-24px"></span>
        </span>
      </a>
    </td>
    <td>
      {% if location.wazeUrl %}
      <a href="{{ location.wazeUrl }}" class="button is-primary is-outlined">
        <span class="icon">
          <span class="mdi mdi-waze mdi-24px"></span>
        </span>
      </a>
      {% else %}
      &nbsp;
      {% endif %}
    </td>
  </tr>

  {% endfor %}

  {% endfor %}

</table>