<div class="columns is-mobile">
  {% assign prev_date = include.date | date: "%s" | minus: 86400 | date: "%F" %}

  {% if prev_date >= site.data.globals.startDate %}
  <div class="column py-0 has-text-left">
    <a href="/dates/{{prev_date}}">
      &laquo; {{ prev_date | date: "%e %B" }}
    </a>
  </div>
  {% else %}
  &nbsp;
  {% endif %}

  {% assign next_date = include.date | date: "%s" | plus: 86400 | date: "%F" %}

  {% if site.data.globals.endDate >= next_date %}
  <div class="column py-0 has-text-right">
    <a href="/dates/{{next_date}}">
      {{ next_date | date: "%e %B" }} &raquo;
    </a>
  </div>
  {% else %}
  &nbsp;
  {% endif %}
</div>

<h1 class="title is-spaced mb-2">{{ include.date | date: "%A %e %B" }}</h1>

{% for event in site.data.events %}
{% if include.date >= event.startDate and event.endDate >= include.date %}
{% assign event_start_date = event.startDate | date: "%s" %}
<h2 class="subtitle my-2">
  {{ event.name }}
  ({{ include.date | date: "%s" | minus: event_start_date | divided_by: 86400 | plus: 1}}/{{ event.endDate | date: "%s"
  |
  minus: event_start_date | divided_by: 86400 | plus: 1}})
</h2>
{% endif %}
{% endfor %}

<div class="columns is-mobile mt-0">
  {% for sun in site.data.sun %}
  {% if include.date == sun.date %}
  <div class="column py-0 has-text-left">
    <span class="icon is-medium">
      <span class="mdi mdi-24px mdi-weather-sunset-up"></span>
    </span>
    <span class="is-size-5">{{ sun.sunrise }}</span>
  </div>
  <div class="column py-0 has-text-right">
    <span class="is-size-5">{{ sun.sunset }}</span>
    <span class="icon is-medium">
      <span class="mdi mdi-24px mdi-weather-sunset-down"></span>
    </span>
  </div>
  {% endif %}
  {% endfor %}
</div>

<input type="radio" id="weather" name="nav-tab" checked>
<input type="radio" id="tides" name="nav-tab">

<div class="tabs is-fullwidth mb-1">
  <ul>
    <li>
      <label for="weather">
        <a>
          <span class="icon">
            <span class="mdi mdi-24px mdi-weather-sunny"></span>
          </span>
          <span>Weather</span>
        </a>
      </label>
    </li>
    <li>
      <label for="tides">
        <a>
          <span class="icon">
            <span class="mdi mdi-24px mdi-waves"></span>
          </span>
          <span>Tides</span>
        </a>
      </label>
    </li>
  </ul>
</div>

<div class="tab-content">

  <div class="tab-pane content-weather">
    {% assign found = false %}
    {% for weather in site.data.weather %}
    {% if weather[0] == include.date %}
    {% assign found = true %}
    <table class="table is-narrow is-fullwidth has-text-centered">
      <tbody>
        {% for hour in weather[1] %}
        <tr>
          <td>{{ hour.time }}</td>
          <td>{{ hour.temperature }}&deg;C</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
    {% endfor %}

    {% unless found %}
    <p>
      No weather data yet. See <a href="https://www.bbc.co.uk/weather/2636597">BBC Weather</a>.
    </p>
    {% endunless %}
  </div>

  <div class="tab-pane content-tides">
    {% for tide in site.data.tides %}
    <h3 class="title is-5 is-capitalized my-3">{{ tide[0] | replace: "-", " "}}</h3>
    {% assign found = false %}

    {% for date in tide[1] %}
    {% if date[0] == include.date %}
    {% assign found = true %}
    <table class="table is-fullwidth is-narrow has-text-centered my-0">
      <tbody>
        {% for x in date[1] %}
        <tr>
          <td>{{ x.tide }}</td>
          <td>{{ x.time }}</td>
          <td>{{ x.height }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
    {% endfor %}

    {% unless found %}
    <p>
      No tide data yet. See <a
        href="https://www.dorset-tides.com/{{tide[0]}}-tide-times">dorset-tides.com/{{tide[0]}}-tide-times</a>
    </p>
    {% endunless %}

    {% endfor %}
  </div>
</div>