<div class="columns is-mobile">
  {% assign prev_date = include.date | date: "%s" | minus: 86400 | date: "%F" %}

  {% if prev_date >= site.data.globals.startDate %}
  <div class="column py-0 has-text-left">
    <a href="/dates/{{prev_date}}">
      &laquo; {{ prev_date | date: "%e %B" }}
    </a>
  </div>
  {% else %}
  &nbsp;
  {% endif %}

  {% assign next_date = include.date | date: "%s" | plus: 86400 | date: "%F" %}

  {% if site.data.globals.endDate >= next_date %}
  <div class="column py-0 has-text-right">
    <a href="/dates/{{next_date}}">
      {{ next_date | date: "%e %B" }} &raquo;
    </a>
  </div>
  {% else %}
  &nbsp;
  {% endif %}
</div>

<h1 class="title is-spaced mb-2">{{ include.date | date: "%A %e %B" }}</h1>

{% for event in site.data.events %}
{% if include.date >= event.startDate and event.endDate >= include.date %}
{% assign event_start_date = event.startDate | date: "%s" %}
<h2 class="subtitle my-2">
  {{ event.name }}
  ({{ include.date | date: "%s" | minus: event_start_date | divided_by: 86400 | plus: 1}}/{{ event.endDate | date: "%s"
  |
  minus: event_start_date | divided_by: 86400 | plus: 1}})
</h2>
{% endif %}
{% endfor %}

<div class="columns is-mobile mt-0">
  {% for sun in site.data.sun %}
  {% if include.date == sun.date %}
  <div class="column py-0 has-text-left">
    <span class="icon is-medium">
      <span class="mdi mdi-24px mdi-weather-sunset-up"></span>
    </span>
    <span class="is-size-5">{{ sun.sunrise }}</span>
  </div>
  <div class="column py-0 has-text-right">
    <span class="is-size-5">{{ sun.sunset }}</span>
    <span class="icon is-medium">
      <span class="mdi mdi-24px mdi-weather-sunset-down"></span>
    </span>
  </div>
  {% endif %}
  {% endfor %}
</div>

<div class="box p-1">
  {% assign first = true %}
  {% for tide in site.data.tides %}
  <input type="radio" id="{{ tide[0] }}" name="nav-tab" {% if first %}checked{% endif %}>
  {% assign first = false %}
  {% endfor %}

  <div class="tabs is-fullwidth mb-1">
    {% for tide in site.data.tides %}
    <li>
      <label for="{{ tide[0] }}">
        <a>
          <span class="icon">
            <span class="mdi mdi-24px mdi-waves"></span>
          </span>
          <span class="is-capitalized">{{ tide[0] | replace: "-", " "}}</span>
        </a>
      </label>
    </li>
    {% endfor %}
    </ul>
  </div>

  <div class="tab-content">
    {% for tide in site.data.tides %}
    <div class="tab-pane content-{{ tide[0] }}">
      {% if tide[1].size > 0 %}
      <table class="table is-fullwidth is-narrow has-text-centered">
        <thead>
          <tr>
            <th class="has-text-centered">Tide</th>
            <th class="has-text-centered">Time</th>
            <th class="has-text-centered">Height</th>
          </tr>
        </thead>
        <tbody>
          {% for date in tide[1] %}
          {% if date[0] == include.date %}
          {% for x in date[1] %}
          <tr>
            <td>{{ x.tide }}</td>
            <td>{{ x.time }}</td>
            <td>{{ x.height }}m</td>
          </tr>
          {% endfor %}
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>
        No tide data yet. See <a
          href="https://www.dorset-tides.com/{{tide[0]}}-tide-times">dorset-tides.com/{{tide[0]}}-tide-times</a>
      </p>
      {% endif %}
    </div>
    {% endfor %}
  </div>

</div>