<div class="section">
  <h1>{{ include.date | date: "%A %e %B" }}</h1>

  <div class="two-columns mt-1">
    {% assign prev_date = include.date | date: "%s" | minus: 86400 | date: "%F" %}
    {% assign next_date = include.date | date: "%s" | plus: 86400 | date: "%F" %}

    <table>
      <tbody>
        <tr>
          <td class="left">
            {% if prev_date >= site.data.globals.startDate %}
            <a href="/dates/{{prev_date}}">
              &laquo; {{ prev_date | date: "%e %B" }}
            </a>
            {% else %}
            &nbsp;
            {% endif %}
          </td>

          <td class="right">
            {% if site.data.globals.endDate >= next_date %}
            <a href="/dates/{{next_date}}">
              {{ next_date | date: "%e %B" }} &raquo;
            </a>
            {% else %}
            &nbsp;
            {% endif %}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  {% for event in site.data.events %}
  {% if include.date >= event.startDate and event.endDate >= include.date %}
  {% assign event_start_date = event.startDate | date: "%s" %}
  <p>
    {{ event.name }}
    (day {{ include.date | date: "%s" | minus: event_start_date | divided_by:
    86400 | plus: 1}} of {{ event.endDate | date: "%s"
    |
    minus: event_start_date | divided_by: 86400 | plus: 1}})
  </p>
  {% endif %}
  {% endfor %}
</div>

<div class="section py-1">
  <div class="two-columns">
    {% assign sun = site.data.sun | find: "date", include.date %}
    <table>
      <tbody>
        <tr>

          <td class="left">
            <span class="icon is-medium">
              <iconify-icon icon="mdi:weather-sunset-up" width="24"></iconify-icon>
            </span>
            <span>{{ sun.sunrise }}</span>
          </td>

          <td class="right">
            <span>{{ sun.sunset }}</span>
            <span class="icon is-medium">
              <iconify-icon icon="mdi:weather-sunset-down" width="24"></iconify-icon>
            </span>
          </td>

        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="section">
  <input type="radio" id="weather" name="nav-tab" checked>
  <input type="radio" id="tides" name="nav-tab">

  <div class="tabs is-fullwidth is-boxed mb-0">
    <ul>
      <li>
        <label for="weather">
          <a>
            <span class="icon">
              <iconify-icon icon="mdi:weather-sunny" width="24"></iconify-icon>
            </span>
            <span>Weather</span>
          </a>
        </label>
      </li>
      <li>
        <label for="tides">
          <a>
            <span class="icon">
              <iconify-icon icon="mdi:waves" width="24"></iconify-icon>
            </span>
            <span>Tides</span>
          </a>
        </label>
      </li>
    </ul>
  </div>

  <div class="tab-content">

    <div class="tab-pane content-weather">

      {% assign weather = site.data.weather[include.date] %}
      {% if weather %}
      <table class="table is-narrow is-fullwidth has-text-centered mb-1">
        <tbody>
          <tr>
            {% assign weatherSummary = site.data.weather.summaries[include.date] %}
            <td class="has-text-left pl-3 pr-1 py-3">
              <h2 class="m-0">Studland</h2>
              <span class="ss-label ss-rain-label">Rain</span>
              <span class="ss-rain">{{ weatherSummary.precipitationProbabilityInPercent }}%</span>
            </td>
            <td class="px-1 py-3">
              {% assign weatherType = weatherSummary.weatherType | append: "" %}
              {% include weather_type_icon.html weatherType = weatherType size = 48 %}
            </td>
            <td class="has-text-right pl-1 pr-3 py-3">
              <div>
                <span class="ss-label ss-temp-label">High</span>
                <span class="ss-temp">{{ weatherSummary.maxTempC }}&deg;C</span>
              </div>
              <div>
                <span class="ss-label ss-temp-label">Low</span>
                <span class="ss-temp">{{ weatherSummary.minTempC }}&deg;C</span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="table is-narrow is-fullwidth has-text-centered">
        <thead>
          <tr class="is-uppercase is-size-7">
            <th class="has-text-left pl-3 pr-1">&nbsp;</th>
            <th class="has-text-centered px-1">&nbsp;</th>
            <th class="has-text-centered px-1"><span class="ss-rain">Rain</span></th>
            <th class="has-text-centered px-1">Wind</th>
            <th class="has-text-centered pl-1 pr-3"><span class="ss-temp">Temp</span></th>
          </tr>
        </thead>
        <tbody>
          {% for hour in weather %}
          <tr>
            <td class="has-text-left pl-3 pr-1">{{ hour.time }}</td>
            <td class="px-3">
              {% include weather_type_icon.html weatherType = hour.weatherType size = 36 %}
            </td>
            <td class="px-1">
              <span class="ss-rain">{{ hour.chanceOfRain }}%</span>
            </td>
            <td class="px-1">
              <span class="ml-2">{{ hour.windSpeedMph }}</span>
              <span class="icon is-medium wind"><iconify-icon class="{{ hour.windDirection | downcase }}" icon="mdi:arrow-down" width="24"></iconify-icon></span>
            </td>
            <td class="pl-1 pr-3">
              <span class="ss-temp">{{ hour.temperature }}&deg;C</span>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <div class="p-3">
        <h2>Studland</h2>
        <p>
          No weather data yet. See <a href="https://www.bbc.co.uk/weather/2636597">BBC Weather</a>.
        </p>
      </div>
      {% endif %}
    </div>

    <div class="tab-pane content-tides">
      <h2 class="px-3 pt-3">Studland Bay</h2>

      {% assign date = site.data.tides[include.date] %}
      {% if date %}
      <table class="table is-fullwidth is-narrow has-text-centered my-0">
        <tbody>
          {% for x in date %}
          <tr>
            <td>
              {% if x.tide == "High" %}
              {% assign icon = 'chevron-double-up' %}
              {% else %}
              {% assign icon = 'chevron-double-down' %}
              {% endif %}
              <span class="icon is-small">
                <iconify-icon icon="mdi:{{ icon }}" width="24"></iconify-icon>
              </span>
            </td>
            <td>{{ x.tide }}</td>
            <td>{{ x.time }}</td>
            <td>{{ x.height }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p class="px-3 pb-3">
        No tide data yet. See <a
          href="https://www.dorset-tides.com/studland-bay-tide-times">dorset-tides.com/studland-bay-tide-times</a>.
      </p>
      {% endif %}
    </div>
  </div>
</div>