<span class="icon is-medium">
  {% case include.weatherType %}
  {% when '0' %}
  {% assign icon = 'weather-night' %}
  {% when '1' %}
  {% assign icon = 'weather-sunny' %}
  {% when '2' %}
  {% assign icon = 'weather-night-partly-cloudy' %}                
  {% when '3' %}{% comment %}summy intervals{% endcomment %}
  {% assign icon = 'weather-partly-cloudy' %}                
  {% when '7' %}
  {% assign icon = 'weather-cloudy' %}
  {% when '9' %}
  {% assign icon = 'weather-rainy' %}
  {% when '10' %}
  {% assign icon = 'weather-partly-rainy' %}
  {% when '11' %}{% comment %}drizzle{% endcomment %}
  {% assign icon = 'weather-partly-rainy' %}
  {% when '12' %}
  {% assign icon = 'weather-rainy' %}
  {% when '15' %}{% comment %}heavy rain{% endcomment %}
  {% assign icon = 'weather-pouring' %}
  {% when '29' %}
  {% assign icon = 'weather-partly-lightning' %}
  {% when '40' %}
  {% assign icon = 'weather-pouring' %}
  {% endcase %}

  <iconify-icon icon="mdi:{{ icon }}" width="{{ include.size }}"></iconify-icon>
</span>