---
---

@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

// Initial variables
$turquoise: hsl(169, 46%, 63%);
$cyan: hsl(198, 72%, 49%);
$orange: hsl(8, 83%, 57%);
$yellow: hsl(45, 94%, 55%);

// Derived variables
$link: $cyan;
$family-sans-serif: "Montserrat", sans-serif;

@import "bulma";

input[type="radio"] {
  display: none;
}

.tab-pane {
  display: none;
}

#weather:checked ~ .tabs li label[for="weather"] a,
#tides:checked ~ .tabs li label[for="tides"] a {
  background-color: $tabs-boxed-link-active-background-color;
  border-color: $tabs-boxed-link-active-border-color;
  border-bottom-color: $tabs-boxed-link-active-border-bottom-color !important;
}

#weather:checked ~ .tab-content > .content-weather,
#tides:checked ~ .tab-content > .content-tides {
  display: block;
}

#map {
  height: 50vh;
  z-index: 0;
}

.tab-content {
  border-style: solid;
  border-width: 0 1px 1px 1px;
  border-color: $tabs-boxed-link-active-border-color;

  td {
    vertical-align: middle;

    .icon {
      vertical-align: middle;
    }
  }
}

.box {
  td {
    vertical-align: middle;
  }
}

.navbar-item.is-active{
  background-color: bulmaDarken($primary, 10%) !important;
}