---
---

@charset "utf-8";

@import "bulma";

input[type="radio"] {
  display: none;
}

.tab-pane {
  display: none;
}

#weather:checked~.tab-content>.content-weather,
#tides:checked~.tab-content>.content-tides {
  display: block;
}

#map {
  height: 50vh;
  z-index: 0;
}