input[type="radio"] {
  display: none;
}

.tab-pane {
  display: none;
}

#studland-bay:checked~.tab-content>.content-studland-bay,
#swanage:checked~.tab-content>.content-swanage,
#swanage-bay:checked~.tab-content>.content-swanage-bay {
  display: block;
}

#map {
  height: 50vh;
  z-index: 0;
}