---
layout: default
---

<div class="columns is-mobile">
  <div class="column has-text-left">
    {% assign prev_date = page.date | date: "%s" | minus: 86400 | date: "%F" %}
    <a href="/dates/{{prev_date}}">
      &laquo; {{ prev_date | date: "%e %b" }}
    </a>
  </div>
  <div class="column has-text-right">
    {% assign next_date = page.date | date: "%s" | plus: 86400 | date: "%F" %}
    <a href="/dates/{{next_date}}">
      {{ next_date | date: "%e %b" }} &raquo;
    </a>
  </div>
</div>

<h1 class="title">{{ page.date | date: "%a %e %b %Y" }}</h1>

{% for event in site.data.events %}
{% if page.date >= event.startDate and event.endDate >= page.date %}
{% assign event_start_date = event.startDate | date: "%s" %}
<h2 class="subtitle">
  {{ event.name }}
  ({{ page.date | date: "%s" | minus: event_start_date | divided_by: 86400 | plus: 1}}/{{ event.endDate | date: "%s" |
  minus: event_start_date | divided_by: 86400 | plus: 1}})
</h2>
{% endif %}
{% endfor %}

<div class="columns is-mobile">
  {% for sun in site.data.sun %}
  {% if page.date == sun.date %}
  <div class="column has-text-left">
    <span class="icon is-medium">
      <span class="mdi mdi-24px mdi-weather-sunset-up"></span>
    </span>
    <span class="is-size-5">{{ sun.sunrise }}</span>
  </div>
  <div class="column has-text-right">
    <span class="is-size-5">{{ sun.sunset }}</span>
    <span class="icon is-medium">
      <span class="mdi mdi-24px mdi-weather-sunset-down"></span>
    </span>
  </div>
  {% endif %}
  {% endfor %}
</div>

<p>Some info ...</p>