<!DOCTYPE html>
<html class="has-navbar-fixed-top has-navbar-fixed-bottom">

<head>
  <meta charset="UTF-8">
  <link rel="manifest" href="{{ site.baseurl }}/manifest.json">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>{{ site.title }}</title>

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/main.css?v={{ site.time | date: '%s' }}">

  <script src="https://code.iconify.design/iconify-icon/1.0.8/iconify-icon.min.js"></script>

  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/favicon-16x16.png">
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

  <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />
</head>

<body class="pt-4 pb-6">
  <header class="container">

    <nav class="navbar is-fixed-top is-primary has-shadow">
      <div class="navbar-brand is-flex-grow-1">
        <a class="navbar-item mx-auto" href="{{ site.baseurl }}/">
          <img src="{{ site.baseurl }}/assets/images/logo.png" />
        </a>
      </div>
    </nav>

    <nav class="navbar is-fixed-bottom is-primary has-shadow">
      <div class="container">
        <div class="navbar-brand is-flex-grow-1">
          {% for navLink in site.data.navLinks %}
          <a class="navbar-item is-flex-grow-1 has-text-white-ter {% if navLink.category == page.category %}is-active{% endif %}"
            href="{{ site.baseurl }}{{ navLink.relativeUrl }}">
            <span class="icon mx-auto">
              <iconify-icon
                icon="mdi:{{ navLink.icon }}{% unless navLink.category == page.category %}-outline{% endunless %}"
                width="24"></iconify-icon>
            </span>
          </a>
          {% endfor %}
        </div>
      </div>
    </nav>

  </header>

  <main>
    <div class="container">
      {{ content }}
    </div>
  </main>
</body>

</html>