<!DOCTYPE html>
<html class="has-navbar-fixed-top has-navbar-fixed-bottom">

<head>
  <meta charset="UTF-8">
  <link rel="manifest" href="{{ site.baseurl }}/manifest.json">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>{{ site.title }}</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@7.2.96/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
</head>

<body>
  <header class="container">

    <nav class="navbar is-fixed-top is-primary">
      <div class="navbar-brand">
        <a class="navbar-item mx-auto is-uppercase title" href="{{ site.baseurl }}/">
          {{ site.title }}
        </a>
      </div>
    </nav>

    <nav class="navbar is-fixed-bottom is-primary">
      <div class="navbar-brand">
        {% for navLink in site.data.navLinks %}
        <a class="navbar-item is-flex-grow-1 {% if navLink.relativeUrl == page.url %}is-active{% endif %}" href="{{ site.baseurl }}{{ navLink.relativeUrl }}">
          <span class="icon mx-auto">
            <span class="mdi mdi-24px {{ navLink.icon }}"></span>
          </span>
        </a>
        {% endfor %}
      </div>
    </nav>

  </header>

  <main class="section">
    <div class="container">
      {{ content }}
    </div>
  </main>
</body>

</html>